
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new clients!</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-lg-offset-3 text-center">
                    <form action="https://formspree.io/uggant@gmail.com" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">Tell us about your project</label>
                            <textarea class="form-control" name="about" id="exampleTextarea" rows="3" placeholder="My project is about..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-submit btn-xl">Submit</button>
                        <input type="hidden" name="_next" value="confirmed.html">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
